:root{
    --ao: #127BE1;
    --onyx: #353839;
    --Fire_Engine_Red_Color: #CE2029;
    --Vanilla_Ice_Cream: #FCF8E8;
    --Benjamin_Blue: #6D7B86;
    --Delicious: #E6BED5;
    --Kawaii_Lilac: #D7B8E3;
    --University_of_Arkansas_Cardinal: #9D2235;
    --Kandinsky_Turquoise: #2D8284;
    --Karma: #BCEFE4;
    --Kali: #06051F;
    --Eureka: #EACB41;
    --蒲色: #B64925;
    --Pikachu_Yellow: #F6CF57;
    --Cosmic_Latte: #FFF8E7;
    --Oil: #281E15;
    --Fever: #EBAFA8;
    --Neverland: #064424;
    --Thunder: #33292F;
}